/* цвет основного текста  #2E2F42 */
/* цвет вторичного текста #434455 */
/* белый #FFFFFF */
/* акцент #4D5AE5 */
/* призыв под логотипом #E7E9FC
/* цвет лого "studio" #F4F4FD */
/* цвет фона хедера #FFFFFF */
/* цвет фона  Hero #2E2F42 */
/* цвет фона Section 1 #E5E5E5 */
/* цвет фона Section 2 #E5E5E5 */
/* цвет фона Section 3 #F4F4FD */
/* цвет фона футера #2E2F42 */
:root {
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent: #4d5ae5;
  --primary-white-color: #ffffff;
  --primery-btn-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
  color: #2e2f42;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Site Nav */
.site-nav .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}
.auto-nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}
/* header */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33px;
  color: #4d5ae5;
}

.logo-st {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-text-color);
}
.info {
  text-decoration: none;
  color: var(--primary-text-color);
}
/* HERO */
.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-white-color);
}
/* Section */
.section {
  color: var(--primary-text-color);
  background: #e5e5e5;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-text-color);
}
.list-benefit {
  color: var(--primary-text-color);
}
.list-benefit-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.list-benefit-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}
.list-team {
}
.list-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.list-team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}

/* Footer */
.appeal {
  background: var(--primary-text-color);
}
.logo-second {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: #f4f4fd;
}
.appeal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
}

/* Button */

.button {
  color: var(--primary-text-color);
  background: var(--primary-white-color);
}
.button.primary {
  background: var(--accent);
  color: var(--primary-white-color);
}
.button.secondary {
  color: var(--accent);
  background: var(--primery-btn-color);
}

/* portfolio */
.example-item {
  color: var(--primary-text-color);
}
.example-title {
  color: var(--title-text-color);
}

/* скрытый заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
