body {
  background: #e5e5e5;
  color: #2e2f42;
}

.list {
  list-style: none;
}

/* цвет основного текста  #2E2F42 */
/* цвет вторичного текста #434455 */
/* белый #FFFFFF */
/* акцент #4D5AE5 */
/* призыв под логотипом #E7E9FC
/* цвет лого "studio" #F4F4FD */
/* цвет фона хедера #FFFFFF */
/* цвет фона  Hero #2E2F42 */
/* цвет фона Section 1 #E5E5E5 */
/* цвет фона Section 2 #E5E5E5 */
/* цвет фона Section 3 #F4F4FD */
/* цвет фона футера #2E2F42 */
